<form action="" method="POST" >
  <input type="text" name="name" value="{{new.postTitle}}"/>
  <input type="text" name="occupation" value="{{new.postContent}}"/>
  <input type="text" name="catchPhrase" value="{{new.postedBy}}"/>
  <input type="submit" />
</form>